nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    background: transparent;
    border: 2px solid rgb(65, 65, 65);
    @include xs-sm-screens {
      z-index: 10;
    }
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.3s ease;
    border-radius: 2px;
    &:hover {
      background: rgb(65, 65, 65);
      color: #fff;
    }
  }
}
